.navbar-brand{
    color:white;

}
#mainnavbar .navlink{
    font-weight:100;
    font-size:1.5;
}
#mainnavbar :hover{
    color:palevioletred;
}
#mainnavbar .navbar-brand{
    font-weight:100;
    font-size:1.5rem;
}
.jumbotron{
    background: purple;
    color:blanchedalmond;
    text-align:center;
}
.display-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lead{
    font-family: '\f0c1';
}
#img-fluid{
    width:70%;
    height:70%;
}
body{
    background-color: plum;
}
#footer{
    font-family: cursive;
    font-size: 30px;
}